*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.header-bg-setup{
    background-image: linear-gradient(to top, #210f48 0%, #150933 60%, #0e0627 100%);
}

.button{
  transition: all 0.3s;
  background: linear-gradient(to right, rgba(155, 126, 218, 0.248) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.248) 100%);
  box-shadow: inset 0 0 15px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
    color: #fff;
    box-shadow: inset 0 0 15px rgba(157, 127, 221, 0.271), 0 0 9px 3px rgba(155, 126, 218, 0.1);
  }

  