*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.header-bg-setup{
    background-image: linear-gradient(to top, #030014 0%, #19044c 50%, #030014  100%);
}

.h-bg-setup{
    background-image: linear-gradient(to top, #030014 0%, #100230 50%, #030014  100%);
}

.button{
  transition: all 0.3s;
  background: linear-gradient(to right, rgba(155, 126, 218, 0.248) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.248) 100%);
  box-shadow: inset 0 0 15px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
    color: #fff;
    box-shadow: inset 0 0 15px rgba(157, 127, 221, 0.271), 0 0 9px 3px rgba(155, 126, 218, 0.1);
  }

.hero-subtitle-gradient {
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.082)),
      to(rgba(42, 42, 42, 0.083))
    );
    border-top: 1px solid #5b516e;
  }

.btns{
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.082)),
      to(rgba(42, 42, 42, 0.083))
    );
    border: 1px solid #5b516e;
  }
