*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

.header-bg-setup{
    background-image: linear-gradient(to top, #030014 0%, #19044c 50%, #030014  100%);
}

.h-bg-setup{
    background-image: linear-gradient(to top, #030014 0%, #100230 50%, #030014  100%);
}

.h-bg-setupp{
  /* background-image: linear-gradient(to right, #11062f 0%, #412d66  51%, #11062f  100%); */
  background-image: linear-gradient(to bottom, #3f2c66 0%, #11082e 35%, #030014  100%);

}

         
.btn-grad {
  
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.button{
  transition: all 0.3s;
  background: linear-gradient(to right, rgba(155, 126, 218, 0.248) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.248) 100%);
  box-shadow: inset 0 0 15px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
    color: #fff;
    box-shadow: inset 0 0 15px rgba(157, 127, 221, 0.271), 0 0 9px 3px rgba(155, 126, 218, 0.1);
  }

.hero-subtitle-gradient {
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.082)),
      to(rgba(42, 42, 42, 0.083))
    );
    border-top: 1px solid #5b516e;
  }

.btns{
    background: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(255, 255, 255, 0.082)),
      to(rgba(42, 42, 42, 0.083))
    );
    border: 1px solid #5b516e;
  }


  .wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	overflow: hidden;
	position: relative;
}

.slider .slide-track {
	-webkit-animation: scroll linear infinite;
	animation: scroll 30s linear infinite;
	display: flex;
	width: calc(250px * 14);
}


@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 2));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 8));
	}
}

.sec-6-bg{
   width: 100%;
   height: 100%;
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.650), rgba(0, 0, 0, 0.650)), url(./img/blog/90440.jpg);
   background-position: center;
   background-size: cover;
}

.cards {
  background: rgba(255, 255, 255, 0.038);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.655);
  border-radius: 25px;
  backdrop-filter: blur(5px);
}

.img-avater img{
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url("./img/blog/OIP.jpeg");
  background-position: bottom center;
  background-size: cover;
}

.actions button {
  font-size: 16px;
  color: #007677;
  cursor: pointer;
  transition:.5s;
  &:hover{
  color: #ffffff;
  transform: rotate(10deg)
  }
}

.hro{
  background-color: #7674b035; 
  border: none;
  height: 1px;  
}

